@layer utilities {
  .prose,
  .prose > article {
    @apply space-y-base leading-8 text-gray-darker;

    blockquote {
      @apply border-l-2 pl-sm font-medium;
    }

    p {
      @apply break-words;
    }

    ul {
      @apply list-outside list-disc ml-lg;
    }
    ol {
      @apply list-outside list-decimal ml-lg;
    }

    h2,
    h3,
    h4 {
      @apply font-display text-gray-dark;
      // Extra spacing above and below headings
      @apply pt-0.5 pb-0.5;
    }

    h2 {
      @apply text-3xl font-bold;
    }
    h3 {
      @apply text-2xl font-semibold;
    }
    h4 {
      @apply text-xl font-medium;
    }

    /* Style all link anchors */
    h2 a::before,
    h3 a::before,
    h4 a::before {
      // content: "#";
      // @apply opacity-0 md:opacity-5;
    }
    h2 a,
    h3 a,
    h4 a {
      /* w-4/6 to allow clicking on the title to navigate to the hashed link */
      // @apply absolute -mx-sm w-3/6;
    }

    // Images
    // The span contains the image, and .narrower/.border are the <p> classes
    .narrower > span {
      @apply rounded-md md:w-4/6 m-auto overflow-hidden;
    }
    .bordered > span {
      @apply rounded-md border border-gray-200 overflow-hidden;
    }

    // Code, not pre
    :not(pre) > code {
      @apply bg-gray-100 text-gray-700 text-sm;
      @apply p-0.5 rounded;
    }

    // Code block title
    [data-rehype-pretty-code-title] {
      // TODO: fix; -mb-1 to move it down so rounded corner of pre doesn't look weird
      @apply /* bg-gray-700 text-gray-50 */ -mb-1 p-sm font-mono text-sm rounded-t;
      background-color: #334155;
      color: #f8fafc;
    }

    table {
      @apply border-collapse border rounded-md;

      // Table cells
      th,
      td {
        @apply border p-1;
      }
    }

    pre {
      @apply overflow-x-scroll;
      @apply p-5;
      // @apply p-5;

      .line.highlighted {
        @apply -m-[0.21rem] p-[0.21rem] bg-gray-900 rounded;
      }
    }
    .line-numbers {
      code {
        counter-reset: step;
        counter-increment: step calc(var(--start, 1) - 1);
        // --start is set in MarkdocFence
      }
      // TODO: shiki seems to add an empty line at the end
      code .line:not(:last-child)::before {
        content: counter(step);
        counter-increment: step;
        width: 1rem;
        margin-right: 1.5rem;
        display: inline-block;
        text-align: right;
        color: rgba(115, 138, 148, 0.4);
      }
    }
  }
}
